langchain
langchain-chroma
langchain-community
langchain-openai
langchain-core                                          
langchain-text-splitters                 
langgraph                               
langgraph-checkpoint                     
langgraph-prebuilt                       
langgraph-sdk                           
langsmith                                
rank-bm25
torch
sentence-transformers==2.7.0
python-dotenv
pymupdf
chromadb
uvicorn
fastapi
numpy
transformers==4.40.2
pydantic                                 
pydantic_core                           
pydantic-settings 
python-dotenv                            
langchain-huggingface
